@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f9f5ff;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #6f00ffa3;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a267e5;
}
